html body [data-color-wheel] {
	display: none !important;
	flex-direction: column;
}
.color-wheel {
	@media (min-width: $sm-min) {
		position: relative;
		width: 80%;
		max-width: 520px;
		z-index: 11;
		margin-inline: auto;
		opacity: 1;
		transition: opacity .52s cubic-bezier(0.37, 0, 0.63, 1);
		&.fadeIn {
			opacity: 0;
			transition: opacity .52s cubic-bezier(0.37, 0, 0.63, 1);
		}
		&.inModal {
			opacity: 1;
			width: 100%;
			position: absolute;
			inset-block-start: 50%;
			inset-inline-start: 50%;
			transform: translate(-50%, -50%);
			&.fadeOut {
				opacity: 0;
				transition: opacity .52s cubic-bezier(0.37, 0, 0.63, 1);
			}
		}
	}
	@media (min-width: $sm-min) and (max-height: 760px) {
		width: calc(30% + 2 * ((100vh - 600px) / 2));
	}

	&__icon-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		@include size(28px);
		border: none;
		border-radius: 50%;
		background-color: var(--bg-icon-button);
		box-shadow: 1px 2px 3px rgba(24, 24, 24, 0.03), 2px 2px 5px rgba(18, 18, 18, 0.16);
		cursor: pointer;
		@media (prefers-reduced-motion: no-preference) {
			transition: background 0.3s ease, box-shadow 0.3s ease;
		}
		path:not(.saturated) {
			stroke: var(--text-primary);
			@media (prefers-reduced-motion: no-preference) {
				transition: stroke 0.3s ease;
			}
		}
		path.saturated {
			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					stroke: var(--icon-saturated-#{$i});
					fill: var(--icon-saturated-#{$i});
				}
			}
			@media (prefers-reduced-motion: no-preference) {
				transition: stroke 0.3s ease;
			}
		}
		&:hover,
		&.isActive {
			background-color: var(--primary);
			path:not(.saturated) {
				stroke: var(--text-onColor);
			}
			path.saturated {
				@for $i from 1 through 4 {
					&:nth-child(#{$i}) {
						stroke: var(--icon-saturated-onColor-#{$i});
						fill: var(--icon-saturated-onColor-#{$i});
					}
				}
			}
		}
		&.isActive {
			box-shadow: none;
		}
	}
}
.color-wheel {
	&-modal {
		overflow: hidden;
		position: absolute;
		inset-block-start: 50%;
		inset-inline-start: 50%;
		width: 100%;
		height: 100%;
		max-width: calc(100vw - spacing(21));
		max-height: calc(100vh - spacing(12));
		min-height: 600px;
		border-radius: 16px;
		background-color: var(--modal-background);
		box-shadow: 0px 0px 7px 2px rgba(#212121, 0.3);
		transform: translate(-50%, -50%);
		&__content {
			position: relative;
			@include size(100%);
			.color-wheel-modal__button {
				position: absolute;
				inset-inline-end: spacing(4);
				inset-block-start: spacing(4);
			}
		}
		&__description {
			opacity: 0;
			display: flex;
			flex-direction: column;
			position: absolute;
			max-width: 26vw;
			inset-block-start: 50%;
			inset-inline-start: 30%;
			transform: translate(calc(-50% - 31vw), -50%);
			transition: all .2s var(--prime-curve);
			&.isActive {
				opacity: 1;
				inset-inline-start: 50%;
				transition: all .4s var(--prime-curve) .2s;
			}
		}
		&__adjustment {
			opacity: 0;
			display: flex;
			flex-direction: column;
			position: absolute;
			inset-inline-start: 70%;
			inset-block-start: 50%;
			transform: translate(calc(-50% + 23vw), -50%);
			transition: all 0.6s cubic-bezier(0.37, 0, 0.63, 1) 0.2s;
			& > button {
				margin-block: spacing(1.5);
				@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						margin-inline-start: calc(8px * #{$i * 1.5});
					}
				}
				&:nth-child(4) {
					margin-inline-start: calc(8px * 4 * 1.3);
				}
				@for $i from 5 through 7 {
					&:nth-child(#{$i}) {
						margin-inline-start: calc(8px * #{($i - 2 * ($i - 4)) * 1.5});
					}
				}
			}

			&--setting {
				opacity: 0;
				position: absolute;
    inset-block-end: 6vh;
    inset-inline-start: 50%;
    transform: translate(-50%, 0);
				transition: opacity .42s var(--prime-curve) .2s;
				z-index: -2;
				&.isActive {
					opacity: 1;
					transition: opacity .42s var(--prime-curve) .2s;
					z-index: 1;
				}
			}
		}
		&__overlay {
			opacity: 0;
			position: fixed;
			inset: 0;
			background-color: var(--modal-overlay);
			z-index: 10;
			@media (prefers-reduced-motion: no-preference) {
				transition: opacity 1s var(--prime-curve);
			}

			&.isActive {
				opacity: 1;
				transition-duration: .68s;
				.color-wheel-modal__adjustment {
					opacity: 1;
					inset-inline-start: 50%;
					transition-duration: .52s;
					transition-delay: .28s;
				}
			}
		}
		&__button {
			position: absolute;
			display: none;
			background-color: transparent;
			border: none;
			cursor: pointer;
			@media screen and (min-width: $sm-min) {
				display: inline;
				path {
					stroke: var(--text-primary);
					transition: stroke 0.3s ease;
				}
				&:hover path {
					stroke: var(--primary);
				}

				&--open {
					align-self: flex-end;
				}
			}
		}
	}
}
