.popup {
	opacity: 0;
	box-sizing: border-box;
	position: absolute;
	inset: 0 auto auto 0;
	max-width: 320px;
	padding: spacing(4) spacing(6);
	border: 2px solid var(--bg-primary);
	background-color: var(--bg-primary);
	border-radius: 8px;
	box-shadow: 2px 2px 7px 4px rgba(#212121, 0.12);
	transition: opacity .7s cubic-bezier(0.33, 1, 0.68, 1);
	@supports (backdrop-filter: blur(12px)) {
		background-color: var(--bg-popup);
		backdrop-filter: blur(12px);
		box-shadow: none;
	}
	p {
		margin: 0;
	}
	@media screen and (max-width: $sm) {
		max-width: 220px;
		padding: spacing(2) spacing(4);
		p {
			font-size: 0.9rem;
		}
	}
	&--active {
		opacity: 1;
		transform: translate3d(var(--popup-left), var(--popup-top), 0);
	}
}