@use "sass:math";

[data-tooltip] {
	&[data-tooltip-artist="Calder"] {
		--tooltip-top: #{math.floor(math.div((325 * 100), 446)) * 1%};
		--tooltip-left: #{math.floor(math.div((95 * 100), 660)) * 1%};
	}
	&[data-tooltip-artist="Cezanne"] {
		--tooltip-top: #{math.floor(math.div((300 * 100), 560)) * 1%};
		--tooltip-left: #{math.floor(math.div((290 * 100), 660)) * 1%};
	}
	&[data-tooltip-artist="Turner"] {
		--tooltip-top: #{math.floor(math.div((248 * 100), 437)) * 1%};
		--tooltip-left: #{math.floor(math.div((268 * 100), 660)) * 1%};
	}
	&[data-tooltip-artist="Kandinsky"] {
		--tooltip-top: #{math.floor(math.div((200 * 100), 554)) * 1%};
		--tooltip-left: #{math.floor(math.div((260 * 100), 660)) * 1%};
	}
	&[data-tooltip-artist="Hammershoi"] {
		--tooltip-top: #{math.floor(math.div((580 * 100), 711)) * 1%};
		--tooltip-left: #{math.floor(math.div((200 * 100), 660)) * 1%};
	}
}