.slides {
	transition: transform .3s ease;
	@media screen and (min-width: $sm-min) {
		display: flex;
		overflow: hidden;
	}
	.slide {
		box-sizing: border-box;
		min-width: 100vw;
		@import "./home.scss";
		@import "./color.scss";
		@import "./using.scss";
	}
}
