.pages {
	@media screen and (min-width: $sm-min) {
		display: flex;
		// align-items: center;
		overflow-x: hidden;
	}
	.page {
		min-width: 100vw;
		transition: transform .72s ease;
		@import "./home.scss";
	}
}
