// reset
@import "~normalize.css";

// variables
@import "./variables/_breakpoints.scss";
@import "./variables/_colors.scss";
@import "./variables/_typography.scss";

// functions
@import "./functions/_spacing.scss";

// mixins
@import "./mixins/_size.scss";

// utils
@import "./utils/_hidden.scss";

// global styles
html {
  height: 100%;
  @media screen and (min-width: $sm-min) {
		min-height: 100%;
	}
}
body {
  --prime-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
  --secondary-curve: cubic-bezier(0.62, 0.4, 0.05, 0.99);
  --primary-opacity-duration: .7s;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  min-height: 660px;
  &::selection {
    background-color: var(--selection-primary);
  }
  &, & > main {
    height: 100%;
  }
  main {
    transition: opacity var(--primary-opacity-duration) var(--prime-curve);
  }
  @media screen and (min-width: $sm-min) {
    overflow: hidden;
  }
}
img {
  max-width: 100%;
  height: auto
}

canvas {
  width: 100%;
}

// elements
@import "./elements/typography.scss";
@import "./elements/buttonScrollDown.scss";
@import "./elements/paintingLegend.scss";
@import "./elements/paintingPointers.scss";
@import "./elements/arrowNextSlide.scss";

// pages
@import "./slides/index.scss";

// modules
@import "./modules/parallax.scss";
@import "./modules/popup.scss";
@import "./modules/colorWheel.scss";
