// reset
@import "~normalize.css";

// variables
@import "./variables/breakpoints";
@import "./variables/_colors.scss";
@import "./variables/typography";

// mixins
@import "./mixins/size.scss";

// global styles
html {
  min-height: 100%;
  height: 100%;
}
body {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  &::selection {
    background-color: var(--selection-primary);
  }
  &, & > div {
    height: 100%;
  }
}

// elements
@import "./elements/typography.scss";

// pages
@import "./pages/index.scss";
