&--color {
	padding-inline: spacing(4);
	& > .slide__inner {
		&:last-child {
			svg {
				width: 10vw;
			}
		}
	}
	& > .slide__inner .slide__content p {
		transition: font-size 0.3s ease;
	}
	@media (min-width: $sm-min) and (max-height: 820px) {
		.slide__content--color-wheel canvas {
			max-width: calc(200px + (50vh / 4));
		}
		& > .slide__inner:first-child > .slide__content > .lead {
			font-size: calc(16px + 3 * ((100vh - 840px) / 420));
		}
		& > .slide__inner:first-child > .slide__content + div > p {
			font-size: calc(14px + 3 * ((100vh - 840px) / 420));
		}
		& > .slide__inner:nth-child(2) .slide__content > p,
		& > .slide__inner:last-child .slide__content > p {
			font-size: calc(14px + 3 * ((100vh - 840px) / 420));
		}
	}
	@media screen and (max-width: $sm) {
		padding-block: spacing(8);
		& > .slide__inner:not(.slide__inner:last-child) > :nth-child(n) {
			margin-block-end: spacing(8);
		}
		& > .slide__inner:first-child > :nth-child(2),
		& > .slide__inner:nth-child(2) {
			padding-inline: spacing(8);
		}
	}
	@media (max-width: $md) and (min-width: $sm-min) {
		& > .slide__inner p {
			font-size: 0.85rem;
		}
	}
	@media screen and (min-width: $sm-min) {
		display: grid;
		column-gap: spacing(4);
		grid-template-columns: repeat(3, 1fr);
		grid-auto-flow: column dense;
		& > .slide__inner {
			padding-inline: spacing(2);
			&:nth-child(2n + 1) {
				display: grid;
				align-content: center;
			}
			&:nth-child(2) {
				position: relative;
				display: flex;
				flex-direction: column;
				padding-block-start: 2vw;
				& > .slide__content {
					margin-block-end: spacing(4);
				}
			}
			& > :nth-child(2) {
				display: flex;
				flex-direction: column;
				svg {
					align-self: flex-end;
				}
			}
		}
	}
	@media screen and (min-width: $lg-min) {
		& > .slide__inner {
			padding-inline: spacing(8);
			&:first-child {
				> :first-child {
					margin-block-end: spacing(8);
				}
				> :nth-child(2) {
					margin-inline-start: 15%;
					h3 {
						max-width: 300px;
					}
				}
			}
			&:last-child {
				> :nth-child(2) {
					margin-inline-start: 15%;
				}
			}
		}
	}
}
