&--using {
	--max-width-images: 660px;
	@media screen and (min-width: $sm-min) {
		overflow-y: scroll;
	}
	& > .slide__inner {
		padding-inline: spacing(8);
		figure {
			position: relative;
			max-width: var(--max-width-images);
			margin-block-end: spacing(8);
			figcaption {
				font: $caption;
				color: var(--text-tertiary);
			}
		}
		p {
			margin-block-end: spacing(8);
		}
		picture {
			display: block;
			> source,
			> img {
				transition: opacity 0.32s cubic-bezier(0.45, 0, 0.55, 1);
			}
			&.isLoading {
				width: 100%;
				aspect-ratio: 4 / 3;
				background-color: #eee;
				> source,
				> img {
					opacity: 0;
				}
			}
		}
		@media screen and (min-width: $sm-min) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			padding-inline: spacing(12);
			align-content: center;
			min-height: 100%;
			&:first-child {
				margin-block-start: spacing(6);
			}
			&:not(:first-child) {
				margin-block-start: spacing(17);
			}
			&:last-child {
				margin-block-end: spacing(5);
			}
			p {
				margin-block-end: spacing(10);
				max-width: 520px;
			}
			& > .slide__content--picture figure {
				display: flex;
				flex-direction: column;
				picture {
					order: 2;
				}
				figcaption {
					order: 3;
				}
			}

			& > .slide__content:not(.slide__content--picture) [class*="legend"] {
				margin-block-start: spacing(1);
			}
		}
	}
}
