$name: 'preloader';

@mixin animationAttrs {
  $animation-function: cubic-bezier(0.76, 0, 0.24, 1);
  $animation-duration: 2.4s;
  animation-duration: $animation-duration;
  animation-timing-function: $animation-function;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

##{$name} {
  display: grid;
  place-items: center;
  @include size(100vw, 100vh);
  background-color: $preloader-bg;
}
.#{$name} {
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 4px;
  }
  &__counter {
    margin-top: 32px;
    color: $preloader-red;
    @include animationAttrs;
    animation-name: animateColorCounter;
  }
  &__item {
    display: flex;
    align-items: center;
    & > div {
      position: relative;
      transition: translate .3s cubic-bezier(0.85, 0, 0.15, 1);
      @include animationAttrs;
      &:not(.#{$name}__item--heart) {
        &::before {
          content: "";
          display: block;
          position: absolute;
          @include size(inherit);
          filter: blur(10px);
          background-color: inherit;
          border-radius: inherit;
        }
      }
    }
    &--rhombus {
      margin-right: 12px;
      @include size(62px);
      background-color: $preloader-red;
      border-radius: 8px;
      transform: scale(0.8) rotate(45deg);
    }
    &--circle {
      margin-right: 4px;
      @include size(92px);
      background-color: $preloader-green;
      border-radius: 50%;
      transform: scale(0.8) translateX(-24px);
    }
    &--oval {
      @include size(52px, 92px);
      background-color: $preloader-yellow;
      border-radius: 112px;
      transform: scale(0.8) translate(-46px);
    }
    &--heart {
      margin-right: 12px;
      @include size(42px, 52px);
      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 40px;
        top: 0;
        @include size(40px, 65px);
        background: $preloader-blue;
        border-radius: 40px 40px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
        box-shadow: 0 0 12px 1px $preloader-blue;
      }
      &::after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }
    }
    .#{$name}__item--rhombus {
      animation-name: animateRhombus;
    }
    .#{$name}__item--circle {
      animation-name: animateCircle;
    }
    .#{$name}__item--oval {
      animation-name: animateOval;
    }
    .#{$name}__item--heart {
      animation-name: animateHeart;
    }
  }
}

@keyframes animateRhombus {
  0% {
    transform: scale(1.2) rotate(45deg) translate(10px, -10px);
  }
  40% {
    transform: scale(0.8) rotate(45deg);
  }
  70% {
    transform: scale(0.6) rotate(45deg);
  }
  100% {
    transform: scale(0.6) rotate(45deg);
  }
}

@keyframes animateCircle {
  0% {
    transform: scale(0.8) translateX(18px);
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.8) translateX(-32px);
  }
  100% {
    transform: scale(0.7) translateX(-44px);
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.7) translateX(-8px);
  }
  40% {
    transform: scale(0.8) translate(1px);
  }
  68% {
    transform: scale(1.2) translateX(-29px);
  }
  100% {
    transform: scale(0.8) translate(-66px);
  }
}

@keyframes animateOval {
  0% {
    transform: scale(0.6) translateX(-10px);
  }
  40% {
    transform: scale(0.7) translateX(10px);
  }
  69% {
    transform: scale(0.8) translateX(-4px);
  }
  100% {
    transform: scale(1.2) translateX(-28px);
  }
}

@keyframes animateColorCounter {
  0% {
    color: $preloader-red;
    text-shadow: 0 0 8px $preloader-red;
  }
  40% {
    color: $preloader-green;
    text-shadow: 0 0 8px $preloader-green;
  }
  70% {
    color: $preloader-blue;
    text-shadow: 0 0 8px $preloader-blue;
  }
  100% {
    color: $preloader-yellow;
    text-shadow: 0 0 8px $preloader-yellow;
  }
}