h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 8px 0;
}
h1 {
	font: $h1;
	color: var(--text-primary);
}
h2 {
	font: $h2;
	color: var(--text-primary);
}
h3 {
	font: $h3;
	color: var(--text-primary);
}
h4 {
	font: $h4;
	color: var(--text-primary);
}
p {
	font: $paragraph;
	&.onColor {
		color: var(--text-onColor);
	}
}
.display3 {
	font: $display-3;
	color: var(--text-primary);
}
.lead {
	font: $lead;
	color: var(--text-primary);
}
.caption {
	font: $caption;
	color: var(--text-tertiary);
}
blockquote {
	margin: 0;
	padding: 0;
	font: $quote;
}
a {
	color: inherit;
	text-decoration: none;
	background: 0 104% / 1% 364% linear-gradient(var(--secondary) 0%, transparent 77%);
	&.onColor {
		color: var(--text-onColor);
		background: 0 104% / 1% 364% linear-gradient(var(--text-onColor) 0%, transparent 77%);
	}
	@media (prefers-reduced-motion: no-preference) {
		transition: background 0.3s ease, color 0.3s ease 0.07s;
	}
	&:visited {
		color: var(--primary);
		&.onColor {
			color: var(--text-onColor);
		}
	}
	&:hover {
		@media (prefers-reduced-motion: no-preference) {
			background-position: 0 134%;
		}
		color: var(--text-primary);
		&.onColor {
			color: var(--primary);
		}
	}
	&:focus {
		outline: 1px solid transparent;
	}
	&:focus-visible {
		outline: 2px dotted var(--secondary);
		&.onColor {
			outline: 2px dotted var(--text-onColor);
		}
	}
}
