$xxs: 320px;
$xs-min: 567px;
$xs: 568px;
$sm-min: 767px;
$sm: 768px;
$md-min: 1023px;
$md: 1024px;
$lg-min: 1365px;
$lg: 1366px;
$xlg-min: 1439px;
$xlg: 1440px;
$xxl-min: 1919px;
$xxl: 1920px;

$grid: 4;