$heading-font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
$text-font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
$caption-font-family: "Space Mono", Courier, "Courier New", monospace;
$quote-font-family: "Space Grotesk", Helvetica, Arial, sans-serif;

$default-line-height: 1.75;

// min 48, max 64, fluid size 4, relative size 1.25
$display-3: 700 clamp(3rem, 4vw + 1.25rem, 4rem) / 1.09375 $heading-font-family;

// min 36, max 52, fluid size 2, relative size 1.25
$h1: 700 clamp(2.25rem, 2vw + 1.25rem, 3.25rem) / 1.17647 $heading-font-family;

// min 30, max 42, fluid size 1, relative size 1.5
$h2: 700 clamp(1.875rem, 1vw + 1.5rem, 2.625rem) / 1.17647 $heading-font-family;

// min 22, max 38, fluid size 1, relative size 1
$h3: 700 clamp(1.375rem, 1vw + 1rem, 2.375rem) / 1.21429 $heading-font-family;

// min 18, max 20, fluid size 3, relative size -1.25
$h4: 700 clamp(1.125rem, 3vw - 1.25rem, 1.25rem) / 1.33333 $heading-font-family;

// min 18, max 20, fluid size -2, relative size 1.92
$lead: 500 clamp(1.125rem, -2vw + 1.92rem, 1.25rem) / 1.66667 $heading-font-family;

// min 16, max 18, fluid size -2, relative size 1.75
$paragraph: 400 clamp(1rem, -2vw + 1.75rem, 1.125rem) / $default-line-height $text-font-family;

// min 12, max 14, fluid size -4, relative size 2.75
$caption: italic clamp(0.75rem, -4vw + 2.75rem, 0.875rem) / $default-line-height $caption-font-family;

// min 36, max 52, fluid size 2, relative size 1.25
$quote: 400 clamp(1.5rem, 2vw + 1rem, 3rem) / 1.45833 $quote-font-family;
